@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

:root {
  --teal-1: #38a89d;
  --teal-2: #4dc0b5;
  --teal-3: #64d5ca;
  --teal-4: #a0f0ed;
  --blue-1: #2779bd;
  --blue-2: #3490dc;
  --blue-3: #6cb2eb;
  --blue-4: #bcdefa;
  --indigo-1: #5661b3;
  --indigo-2: #6574cd;
  --indigo-3: #7886d7;
  --indigo-4: #b2b7ff;
  --pink-1: #eb5286;
  --pink-2: #f66d9b;
  --pink-3: #fa7ea8;
  --pink-4: #ffbbca;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  color: #14151f;
}
body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif !important;
}
body.mobile-open {
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 2.5rem;
  margin: 20px 0;
}
h2 {
  font-size: 2rem;
  margin: 16px 0;
}
p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.mobile-nav {
  background: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(100%);
  z-index: 999;
  transition: transform 0.3s ease-in 0.7s;
  display: none;
}
.mobile-open .mobile-nav {
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}
.mobile-nav .links {
  width: 100%;
  height: 100%;
  text-align: center;
}
.mobile-nav .links a {
  position: absolute;
  left: 50%;
  color: #333;
  font-size: 1.5rem;
}
.mobile-nav .links a:nth-child(1) {
  transform: translate(-50%, 30vh);
}
.mobile-nav .links a:nth-child(2) {
  transform: translate(-50%, 40vh);
}
.mobile-nav .links a:nth-child(3) {
  transform: translate(-50%, 50vh);
}
.mobile-nav .links a:nth-child(4) {
  transform: translate(-50%, 60vh);
}
nav {
  position: fixed;
  width: 100%;
  background: #ffffff;
  padding: 1rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
  z-index: 9999;
}
nav .container {
  display: flex;
  position: relative;
}
nav .logo {
  width: 100px;
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}
nav .logo span:nth-child(1) {
  color: var(--teal-1);
}
nav .logo span:nth-child(2) {
  color: var(--blue-1);
}
nav .logo span:nth-child(3) {
  color: var(--indigo-1);
}
nav .logo span:nth-child(4) {
  color: var(--pink-1);
}
nav .burger {
  position: absolute;
  right: 0;
  top: calc(50% - 15px);
  height: 30px;
  width: 35px;
  cursor: pointer;
  display: none;
}
nav .burger .menu,
nav .burger .close {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
nav .burger .menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav .burger .close {
  z-index: 1;
}
nav .burger .line {
  height: 3px;
  transform-origin: right;
  background: #222;
}
nav .burger .close .line {
  transform-origin: center;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s ease-in;
}
.mobile-open nav .burger .close .line:first-child {
  transform: rotate(225deg);
  opacity: 1;
  transition: all 0.6s ease-in 1s;
}
.mobile-open nav .burger .close .line:last-child {
  transform: rotate(-225deg);
  opacity: 1;
  transition: all 0.6s ease-in 1s;
}
nav .burger .menu .line:nth-child(1) {
  background: var(--pink-3);
  animation: 1s ease-out backwards returnLine1;
}
.mobile-open .burger .menu .line:nth-child(1) {
  animation: 0.8s ease-in forwards moveLine1;
}
nav .burger .menu .line:nth-child(2) {
  background: var(--pink-3);
  animation: 1s ease-out 0.2s backwards returnLine2;
}
.mobile-open .burger .menu .line:nth-child(2) {
  animation: 0.8s ease-in 0.15s forwards moveLine2;
}
nav .burger .menu .line:nth-child(3) {
  background: var(--pink-3);
  animation: 1s ease-out 0.4s backwards returnLine3;
}
.mobile-open .burger .menu .line:nth-child(3) {
  animation: 0.8s ease-in 0.3s forwards moveLine3;
}
nav .burger .menu .line:nth-child(4) {
  background: var(--pink-3);
  animation: 1s ease-out 0.6s backwards returnLine4;
}
.mobile-open .burger .menu .line:nth-child(4) {
  animation: 0.8s ease-in 0.45s forwards moveLine4;
}
.no-animation nav .burger .line {
  animation: none !important;
}
nav .links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.link {
  margin-left: 25px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.link a {
  display: block;
  font-size: 1.2rem;
  transition: color 0.25s ease-out;
}
.link .underline {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 5px;
}
.link .underline .part {
  height: 4px;
  flex: 0 0 25%;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.2s ease-out;
}
.underline .part:nth-child(1) {
  transition-delay: 0s;
}
.underline .part:nth-child(2) {
  transition-delay: 0.075s;
}
.underline .part:nth-child(3) {
  transition-delay: 0.15s;
}
.underline .part:nth-child(4) {
  transition-delay: 0.225s;
}

.link.teal .part:nth-child(1) {
  background: var(--teal-1);
}
.link.teal .part:nth-child(2) {
  background: linear-gradient(90deg, var(--pink-3), var(--pink-3));
}
.link.teal .part:nth-child(3) {
  background: linear-gradient(90deg, var(--pink-3), var(--pink-3));
}
.link.teal .part:nth-child(4) {
  background: linear-gradient(90deg, var(--pink-3), var(--pink-3));
}
.link.blue .part:nth-child(1) {
  background: var(--blue-1);
}
.link.blue .part:nth-child(2) {
  background: linear-gradient(90deg, var(--blue-1), var(--blue-2));
}
.link.blue .part:nth-child(3) {
  background: linear-gradient(90deg, var(--blue-2), var(--blue-3));
}
.link.blue .part:nth-child(4) {
  background: linear-gradient(90deg, var(--blue-3), var(--blue-4));
}
.link.indigo .part:nth-child(1) {
  background: var(--indigo-1);
}
.link.indigo .part:nth-child(2) {
  background: linear-gradient(90deg, var(--indigo-1), var(--indigo-2));
}
.link.indigo .part:nth-child(3) {
  background: linear-gradient(90deg, var(--indigo-2), var(--indigo-3));
}
.link.indigo .part:nth-child(4) {
  background: linear-gradient(90deg, var(--indigo-3), var(--indigo-4));
}
.link.pink .part:nth-child(1) {
  background: var(--pink-1);
}
.link.pink .part:nth-child(2) {
  background: linear-gradient(90deg, var(--pink-1), var(--pink-2));
}
.link.pink .part:nth-child(3) {
  background: linear-gradient(90deg, var(--pink-2), var(--pink-3));
}
.link.pink .part:nth-child(4) {
  background: linear-gradient(90deg, var(--pink-3), var(--pink-4));
}

.link.teal a:hover {
  color: var(--teal-1);
}
.link.blue a:hover {
  color: var(--blue-1);
}
.link.indigo a:hover {
  color: var(--indigo-1);
}
.link.pink a:hover {
  color: var(--pink-1);
}
.link a:hover + .underline .part {
  opacity: 1;
  transform: translateY(0);
}

section {
  padding: 50px 1rem;
}
section.main-content {
  padding-top: 130px;
  background: #fff;
}

@media (max-width: 768px) {
  .mobile-nav {
    display: initial;
  }
  nav {
    padding: 1rem 2rem;
  }
  nav .burger {
    display: flex;
  }
  nav .links {
    display: none;
  }
}

@keyframes moveLine1 {
  5% {
    transform: translate(0, -3px) rotate(0deg);
  }
  60% {
    transform: translate(-4vw, 27vh) rotate(180deg);
  }
  100% {
    transform: translate(calc(1rem - 50vw), calc(30vh + 4px)) rotate(180deg);
    background: var(--pink-3);
  }
}

@keyframes moveLine2 {
  5% {
    transform: translate(0, -3px) rotate(0deg);
  }
  60% {
    transform: translate(-4vw, 37vh) rotate(180deg);
  }
  100% {
    transform: translate(calc(1rem - 50vw), calc(40vh - 4px)) rotate(180deg);
    background: var(--pink-3);
  }
}

@keyframes moveLine3 {
  5% {
    transform: translate(0, -3px) rotate(0deg);
  }
  60% {
    transform: translate(-4vw, 47vh) rotate(180deg);
  }
  100% {
    transform: translate(calc(1rem - 50vw), calc(50vh - 12px)) rotate(180deg);
    background: var(--pink-3);
  }
}

@keyframes moveLine4 {
  5% {
    transform: translate(0, -3px) rotate(0deg);
  }
  60% {
    transform: translate(-4vw, 57vh) rotate(180deg);
  }
  100% {
    transform: translate(calc(1rem - 50vw), calc(60vh - 20px)) rotate(180deg);
    background: var(--pink-3);
  }
}

@keyframes returnLine1 {
  0% {
    transform: translate(calc(3.2rem - 50vw), calc(30vh + 4px));
    background: var(--teal-3);
  }
  5% {
    transform: translate(calc(3rem - 50vw), calc(30vh + 4px));
  }
  40% {
    transform: translate(20vw, calc(30vh + 4px));
  }
  60% {
    transform: translate(20vw, 0);
    background: var(--pink-3);
  }
}

@keyframes returnLine2 {
  0% {
    transform: translate(calc(3.2rem - 50vw), calc(40vh - 4px));
    background: var(--pink-3);
  }
  5% {
    transform: translate(calc(3rem - 50vw), calc(40vh - 4px));
  }
  40% {
    transform: translate(20vw, calc(40vh - 4px));
  }
  60% {
    transform: translate(20vw, 0);
    background: var(--pink-3);
  }
}

@keyframes returnLine3 {
  0% {
    transform: translate(calc(3.2rem - 50vw), calc(50vh - 12px));
    background: var(--pink-3);
  }
  5% {
    transform: translate(calc(3rem - 50vw), calc(50vh - 12px));
  }
  40% {
    transform: translate(20vw, calc(50vh - 12px));
  }
  60% {
    transform: translate(20vw, 0);
    background: var(--pink-3);
  }
}

@keyframes returnLine4 {
  0% {
    transform: translate(calc(3.2rem - 50vw), calc(60vh - 20px));
    background: var(--pink-3);
  }
  5% {
    transform: translate(calc(3rem - 50vw), calc(60vh - 20px));
  }
  40% {
    transform: translate(20vw, calc(60vh - 20px));
  }
  60% {
    transform: translate(20vw, 0);
    background: var(--pink-3);
  }
}
